<div class="page-content" id="content">
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="row m-2">
    <div class="col-md-12 mt-4 tituloseccion">
      <h3>Histórico de Logs</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/', 'home']">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ registro.tarea }} - #{{ registro.id_log }}
          </li>
        </ol>
      </nav>
    </div>
  </div>


    <div class="row m-2 mt-4">
      <div class="col-md-12">
        <div class="alert linealbase">
          {{ "txtCreado" | translate }}:
          <em class="text-muted">{{
            registro.fecha | date: "dd/MM/y HH:mm"
          }}</em>
          
         
        </div>
      </div>
    </div>

    <div class="row m-2 mt-4">
      <div class="col-md-7 alturaminima mb-5">
        <input
          type="hidden"
          class="form-control"
          name="id_log"
          readonly
          [(ngModel)]="registro.id_log"
        />

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="tarea">
                {{ "txtTarea" | translate }}
              </label>
              <input
                name="tarea"
                required
                class="form-control form-control-sm"
                [class.is-invalid]="tarea.invalid && tarea.touched"
                #tarea="ngModel"
                minlength="4"
                type="text"
                [(ngModel)]="registro.tarea"
                disabled
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="nombres">
                Usuario
              </label>
              <input
                name="nombres"
                required
              
                style="background-color: white;"
        
                class="form-control form-control-sm"
              
                #nombres="ngModel"
    
                type="text"
                [(ngModel)]="registro.nombres"
             readonly
                disabled
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="id_persona">
                Usuario creado
              </label>
              <input
                name="id_persona"
                required
              
                style="background-color: white;"
        
                class="form-control form-control-sm"
              
                #id_persona="ngModel"
    
                type="text"
                [(ngModel)]="registro.id_persona"
             readonly
                disabled
              />
            </div>
          </div>
          <div class="col-md-4">
       
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-3" >
 
          </div>  
        </div>

        <div class="row">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>

  
        <div class="row">
          <div class="col-12">
            <div class="form-group text-center">
              <!-- <button type="submit" class="btn btn-info mr-2">
                {{ "txtModificar" | translate }}
              </button> -->
              <button [routerLink]="['/historico']" class="btn btn-warning">
                {{ "txtVolver" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 alturaminima mb-5">
        <div class="form-group">
          <label for="observaciones">{{
            "txtObservaciones" | translate
          }}</label>
          <textarea
            #descripcion="ngModel"
    class="form-control"
    rows="10"
            name="observaciones"
            [(ngModel)]="registro.descripcion"

            disabled
          ></textarea>
        </div>
      </div>
    </div>
 

 

  <app-footer></app-footer>
</div>
