<div class="page-content" id="content">
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="row m-2">
    <div class="col-md-12 mt-4">
      <h3>{{ "txtRegistros" | translate }}</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/', 'home']">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ "txtRegistros" | translate }}
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row m-2 mt-4">
    <div class="col-md-12 alturaminima mb-5">

<div class="row">
  <div class="col-6">
    <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input
          matInput
          #filter
          placeholder="{{ 'txtFiltrarRegistros' | translate }}"
          (keyup)="updateFilter($event)"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="col-6 text-right">
    <a alt="Nuevo registro" title="nuevo registro" [routerLink]="['/', 'alta']" class="btn btn-info pt4 btn-circle posicionplus"><i class="fa fa-plus fa-3"></i></a>
  </div>
</div>

      <ngx-datatable
        #mydatatable
        class="material striped"
        headerHeight="50"
        [limit]="15"
        [columnMode]="'force'"
        footerHeight="50"
        rowHeight="auto"
        [rows]="rows"
      >
        <ngx-datatable-column name="id_tarea" [maxWidth]="90">
          <ng-template
            class="mat-column-id"
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <div class="text-center">{{ row.id_tarea }}</div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tarea" [maxWidth]="1810">
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span
              title="{{ 'txtDobleclickparaeditar' | translate }}"
              (dblclick)="editing[rowIndex + '-tarea'] = true"
              *ngIf="!editing[rowIndex + '-tarea']"
            >
              {{ value | slice: 0:90 }}
            </span>
            <input
              required
              autofocus
              (keyup.enter)="updateValue($event, 'tarea', rowIndex)"
              *ngIf="editing[rowIndex + '-tarea']"
              type="text"
              class="form-control"
              [value]="value"
              [title]="row.id"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Hora" [maxWidth]="110">
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-value="value"
            let-row="row"
          >
            <span
              title="{{ 'txtDobleclickparaeditar' | translate }}"
              (dblclick)="editing[rowIndex + '-hora'] = true"
              *ngIf="!editing[rowIndex + '-hora']"
            >
              {{ value }}
            </span>
            <input
              required
              class="form-control"
              min="5"
              max="5"
              (onError)="(myHandleError)"
              pattern="^([01]?[0-9]|2[0-3]):[0-5][0-9]$"
              [class.is-invalid]="hora.invalid && hora.touched"
              autofocus
              (keyup.enter)="updateValue($event, 'hora', rowIndex)"
              *ngIf="editing[rowIndex + '-hora']"
              type="time"
              [value]="value"
              [title]="row.id_tarea"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Estatus" [maxWidth]="90">
          <ng-template
            ngx-datatable-cell-template
            let-rowIndex="rowIndex"
            let-row="row"
            let-value="value"
          >
            <div
              [ngClass]="{
                positive: row.estatus == 'OK',
                negative: row.estatus == 'KO',
                posnegtive: row.estatus == 'OK-INC'
              }"
            >
              <span
                title="{{ 'txtDobleclickparaeditar' | translate }}"
                (dblclick)="editing[rowIndex + '-estatus'] = true"
                *ngIf="!editing[rowIndex + '-estatus']"
              >
                {{ value }}
              </span>
              <input type="hidden" #varId [value]="row.id" />

              <select
                class="form-control"
                name="estatus"
                *ngIf="editing[rowIndex + '-estatus']"
                (blur)="editing[rowIndex + '-estatus'] = false"
                (change)="updateValue($event, 'estatus', rowIndex)"
                [value]="value"
                [title]="row.id"
              >
                <option value="OK">OK</option>
                <option value="KO">KO</option>
                <option value="OK-INC">OK-INC</option>
              </select>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="ver" [maxWidth]="80">
          <ng-template
            class="mat-column-id"
            ngx-datatable-cell-template
            let-row="row"
          >
            <div class="text-center">
              <div class="row">
                <div class="col-12 p0 m0">
                  <a
                    [routerLink]="['/detalle', row.id_tarea]"
                    class="btn btn-warning botonsizes mr-1"
                    ><i class="fa fa-pencil"></i
                  ></a>
                  <button
                    (click)="borrarRegistro(row, i)"
                    class="btn btn-warning botonsizes"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>


  </div>

  <app-footer></app-footer>
</div>
