

    <div class="row">
        <div class="col-12 bg-dark">
    
        
    





    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
				 
        <a class="navbar-brand" href="#">CheckList</a>
        
            <!-- Toggle button -->
    <button id="sidebarCollapse"  data-toggle="collapse" type="button" 
    class="navbar-toggler navbar-toggler-right">
    <span class="navbar-toggler-icon"></span>
</button>
  
          
        
        
        
        
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        <i class="fa fa-question-circle mr-1  fa-1g"></i> Ayuda
                        </a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="#">
                        <i class="fa fa-times-circle mr-1  fa-1g"></i> Salir
                        </a>
                </li>





                <li class="nav-item">
                <div>
                
                    <label>
                      <select class="form-control form-control-sm moresmall mt-2 ml-4" #langSelect (change)="translate.use(langSelect.value)">
                        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                      </select>
                    </label>
                  </div>
                </li>










            </ul>
         
         
        </div>
    </nav>















    
    </div>
    </div>