<div class="row">
  <div class="col-12 bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">CheckList</a>

      <!-- Toggle button -->
      <button
        id="sidebarCollapse"
        data-toggle="collapse"
        type="button"
        class="navbar-toggler navbar-toggler-right"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item">
            <a
              [routerLink]="['/', 'abririncidencia']"
              class="nav-link"
              alt="Abrir incidencia"
              title="Abrir incidencia"
            >
              Enviar incidencia
            </a>
          </li>

          <li class="nav-item">
            <app-ayuda></app-ayuda>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="Logout()">
              <i class="fa fa-times-circle mr-1 fa-1g"></i>
              {{ "txtSalir" | translate }}
            </a>
          </li>

          <li class="nav-item">
            <div>
              <label>
                <select
                  class="form-control form-control-sm moresmall mt-2 ml-4"
                  #langSelect
                  (change)="translate.use(langSelect.value)"
                >
                  <option
                    *ngFor="let lang of translate.getLangs()"
                    [value]="lang"
                    [selected]="lang === translate.currentLang"
                    >{{ lang }}</option
                  >
                </select>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Nueva entrada de FAQs
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input
        name="id_persona_log"
        type="hidden"
        #id_persona_log="ngModel"
        [(ngModel)]="datosformularioayuda.id_persona_log"
      />
      <label for="ayudatitulo">Escriba un título</label>
      <input
        name="ayudatitulo"
        type="text"
        maxlength="100"
        #ayudatitulo="ngModel"
        class="form-control mb-2"
        [(ngModel)]="datosformularioayuda.ayudatitulo"
      />

      <p>Texto (máx 650 carácteres)</p>
      <div class="input-group">
        <textarea
          rows="10"
          required
          class="form-control mb-2"
          maxlength="650"
          name="ayudatexto"
          #ayudatexto="ngModel"
          [(ngModel)]="datosformularioayuda.ayudatexto"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="guardarNuevaAyuda()" class="btn btn-info">
      Guardar registro
    </button>
  </div>
</ng-template>
