

  <ng-container *ngIf="user.level_rol === '8'"> 

  
  <div class="example-box" cdkDrag>
    <div class="flotante accordion-icons" id="card-9668745984">
      <div class="card">
        <div class="card-header" title="Arrastra para recolocar la consola" alt="Arrastra para recolocar la consola" id="cabeceraDraggable">
        <div class="row">
          <div class="col-6 their"><h4>Consola de actividad</h4></div>
          <div class="col-6 text-right">
            <a class="card-link rightfloat" 
          data-toggle="collapse" 
          data-parent="#card-9668745984" 
          href="#card-element-57874457742"> 
           </a>
          </div>
        </div>
        </div>
        <div id="card-element-57874457742" class="collapse show">
          <div class="card-body overscroll">

            


      




          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>