


<div *ngIf="registroroleperson.id_rol != '8' && registroroleperson.id_rol != '5' && registroroleperson.id_rol != '6'">

<form [formGroup]="reactiveFormTurnos" (ngSubmit)="onSubmit( f )" #f="ngForm" class="form-inline">      



   <div class="form-group"><select 
    class="form-control"
    formControlName="id_turno"
    name="id_turno" 
    (change)="onSubmitSelect()"
    [(ngModel)]="selectedOption"
    ><option 
      *ngFor="let listat of listaturnos; let x = index" 
      [value]="listat.id_turno"
      >{{listat.turno}} - {{listat.tipo_turno}} - {{listat.turno_horario}}</option>
    </select>

    <button type="submit" class="btn btn-info ml-2">Establecer turno</button>

    
</div> 
 
    
</form>

</div>













