<div class="page-content" id="content">
  <app-header></app-header>
  <app-menu></app-menu>

  <div class="row m-2">
    <div class="col-md-12 mt-4">
      <h3>Turnos</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/', 'home']">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Turnos
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row m-2 mt-4">
    <div class="col-md-6 alturaminima mb-5">

      <h5>Disponibles para rol: <b>{{ userPersona.nombre_rol }}</b></h5>
<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">      
<table class="table mt-3">
  <tbody>
    <tr *ngFor="let listat of listaturnos">
      <td class="namturnos">{{listat.turno}}</td>
      <td>{{listat.tipo_turno}}</td>
      <td>{{listat.turno_horario}}</td>
      <td>
        <label  class="radios">
          <input 
          [value]="listat.id_turno"
          formControlName="id_turno"
          type="radio"  
          id="{{listat.id_turno}}" 
          name="id_turno">
          <span class="checkmark"></span>
        </label>

      </td>
    </tr>
  </tbody>
</table>

<button type="submit">enviar</button>
</form>










    </div>
    <div class="col-md-6 alturaminima mb-5">





turnos anteriores




    </div>
  </div>

  <app-footer></app-footer>
</div>





