@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,900&display=swap');
@import '~ngx-toastr/toastr.css'; 

body {
  height: 100vh;
  background-color: #fffdf9;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
}
h3{font-family: 'Roboto', sans-serif;font-weight:900;margin-bottom: 15px;}

/*
  *
  * ==========================================
  * GLOBALES
  * ==========================================
  *
  */
  .perfildetalle{min-width:150px;width:100%; height:auto;text-shadow: 2px 2px;
border:1px solid #bebebe; border-radius: 50%;}
  
.nofoto{
  border:1px solid #bebebe;
  min-width:150px;
  width:100%; 
  height:auto;
  border-radius: 50%;

  }
  .bdott{border-bottom:0px dotted #929292;margin-top:3px;margin-bottom:4px;}
  .titolpetit{text-transform: uppercase;font-weight:bold;font-size:11px;padding-top:6px;}
a.altaseguimiento{ color:#144e90;}
a:hover.altaseguimiento{ color:#8ac6d1;}
  button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }
  
  .ck-editor__editable_inline {
    min-height: 500px;
}
.posicionplus{padding-top:10px !important;}
.btn{border:0px;}
.botonsizes{
color:#ffffff !important;
  width:28px;
padding:2px !important;
border:0px;
}

.btn-warning{
  background-color:#8ac6d1;
}

.linealbase{border-bottom:1px solid #929292;padding:0px;border-radius:0px;}
  .datatable-row-center {
 padding:0px !important;
    border-top:1px solid #ccc;
    margin-top:0px;
    margin-bottom:0px;
}
.datatable-body-cell { 
  padding-top:3px !important;
  padding-bottom:3px !important;
  padding-right:0px !important;
  padding-left:0px !important;
margin-top: auto !important;
margin-bottom: auto !important;
display:table-cell
 }

 .ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group
{ 
   background: #8ac6d1;
}
.datatable-row-wrapper:hover .datatable-row-center {
    border-color: rgb(255, 255, 255);
}
.positive {
    background-color: #d0f3c9;text-align:center !important;min-height:38px;padding-top:8px;
}

.negative {
    background-color: #f2746f;text-align:center !important;min-height:38px;padding-top:8px;
}
.posnegtive{
  background-color: #f0e07a;text-align:center !important;min-height:38px;padding-top:8px;
}


a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
.moresmall{padding:0px !important;font-size:12px;height:auto !important;width:45px;color:#ffffff;background-color: #8ac6d1;}

.alturaminima{min-height:600px;}

a { -webkit-tap-highlight-color: rgba(0,0,0,0); }
a {
  color: #333333;
}
a:hover {
  text-decoration: underline;
  color: #333333;
}

.minnom{font-size:18px;}
.nav-link:hover{
  color: #ffffff  !important;
  background-color: #abd8e0;
}
.roledef{color:#abd8e0;}
.active .nav-link{
  color: #ffffff  !important;
  background-color: #8ac6d1;
}

.table-active{background-color: #F9FFFE;}
.header {
  width: 100%;

  top: 0px;
}

.bg-dark {
  background-color: #8ac6d1 !important;
}
.bg-light {
  background-color: #204051 !important;
  color: #ffffff !important;
}
.breadcrumb {
  background-color: #e6e9f0 !important;
}

.footer {
  width: 100%;
  bottom: 0px;
  padding-top:13px;
  height: 50px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 1.42857;
}

.botonsaccio .fa{font-size:18px;}

/*
*
* ==========================================
* TABLAS
* ==========================================
*
*/

/* material */
.colortopacio{background-color:#204051}
.datatable-body-cell-label{width:auto;}
.mat-column-id {
  Word-wrap: break-Word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-Word;
  Word-wrap: break-Word;

  Word-break: break-Word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-hora {
  Word-wrap: break-Word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-Word;
  Word-wrap: break-Word;

  Word-break: break-Word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-state {
  Word-wrap: break-Word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  display:flex;
  justify-content:center;
  overflow-wrap: break-Word;
  Word-wrap: break-Word;
  Word-break: break-Word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  Word-wrap: break-Word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-Word;
  Word-wrap: break-Word;

  Word-break: break-Word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-title {
  Word-wrap: break-Word !important;
  white-space: unset !important;
  flex: 0 0 55% !important;
  width: 55% !important;
  overflow-wrap: break-Word;
  Word-wrap: break-Word;

  Word-break: break-Word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/* fin material */


table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;

}
tbody tr:nth-child(odd) {
  background: #eee;
}

.bblock{display:block !important;}


.bgblack{background-color: #000;}
.minitext{font-size:11px;}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}


/*
*
* ==========================================
* SIDEBAR
* ==========================================
*
*/

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}


.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#sidebar{
  z-index:9999;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

/*
*
* ==========================================
* ANIMATE
* ==========================================
*
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}


button {outline:0 !important; -webkit-tap-highlight-color: rgba(0,0,0,0); }






/*
*
* ==========================================
* CUSTOM CHECKBOX
* ==========================================
*
*/
.c-input__field{
  border-radius: 4px !important;
    border: 1px solid #cccccc !important;
    cursor: pointer;
    font-size: 16px !important;
    padding-right:  10px !important;
    padding-left:  10px !important;
    padding-top:  7px !important;
    padding-bottom:  7px !important;
    height: auto !important;
    margin-right:5px !important;
    width:  80% !important;
    
}
.formulario{

}

  .formulario > div {
    padding: 0px 0;
     }

  .formulario .checkbox label {
    display: inline-block;
    cursor: pointer;
    color: #FF4136;
    position: relative;
    padding: 5px 5px 5px 5px;
    font-size: 1em;
    border-radius: 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
    width:30px;
  }

    .formulario .checkbox label:hover {
      background: rgba(255, 65, 54, 0.1); 
    }

  
    .formulario .checkbox label:before {
      display: inline-block; width:30px;
      cursor: pointer;
      color: rgb(91, 54, 255);
      position: relative;
      padding: 5px 5px 5px 5px;
      font-size: 1em;
      border-radius: 0px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; 
    }

 
  .formulario .checkbox input[type="checkbox"] {
    display: none; }
  .formulario .checkbox input[type="checkbox"]:checked + label:before {
      display: none; }
  .formulario .checkbox input[type="checkbox"]:checked + label {
      background: #FF4136;
      color: #fff;
    
    }

    .ck-editor__editable_inline {
      max-width: 100% !important;
      }

/*# sourceMappingURL=estilos.css.map */


.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
  background: #204051;
  height: 50px;
  color:#ffffff;
  width: 50px;
  border-radius: 50px;
  padding: .5em;
  padding-top:15px;
}

.fileContainer [type=file] {
  cursor: pointer;
}


/*# 


////////////////// SPINNER


*/



.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.thumb-overlay {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f8f8fa;
  z-index: 1;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;  
}
  .thumb-overlay.hidden {
      opacity: 0;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
  }
  .thumb-overlay .sk-folding-cube
  {
      top: 35%;
  }
  .thumb-overlay .preloader-square-swapping {
      margin: 45% auto;
  }

  .components{
      padding-left: 10px;
  }