<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">




      <div  *ngIf="user.imagen==null ">
        <img 
        src="./assets/nophoto.jpg" 
        width="75"
        class="mr-3 rounded-circle img-thumbnail shadow-sm"
        >
      </div> 
    
     
       <div  *ngIf="user.imagen">
        <img 
        width="75"
        class="mr-3 rounded-circle img-thumbnail shadow-sm"
        src="./assets/loader.gif" 
        jpPreload="{{user.imagen}}">
      </div>



      <div class="media-body" >
        <h5 class="minnom m-0">{{ user.nombres }}</h5>
        <p class="font-weight-light roledef mt-2 mb-2">
          <em>{{ user.rol_name }}</em>
        </p>
        
        <a [routerLink]="['/', 'perfil', '1']" class="text-light">
          <i class="fa fa-user mr-1  fa-1g"></i> <small>{{ "txtProfile" | translate }}</small>
        </a>
      </div>
    </div>
  </div>

<app-buscador></app-buscador>

<hr />

  <p class="text-gray font-weight-bold text-uppercase px-3 small mt-2 pb-4 mb-0">
    {{ "txtNavegacion" | translate }}
  </p>

  <ul class="nav flex-column bg-white mb-0">




    <!-- <ng-container *ngIf="show"> -->
    <li class="nav-item" routerLinkActive="active" >
      <a [routerLink]="['/', 'home']" class="nav-link  ">
        <i class="fa fa-home mr-3  fa-fw"></i>
        Tareas 
      </a>
    </li>
  <!-- </ng-container> -->
  <!-- <li class="nav-item" routerLinkActive="active">
      <a  class="nav-link  ">
      <i class="fa fa-home mr-3  fa-fw"></i>
      Turnos anteriores
    </a>
  </li> -->


  <ng-container *ngIf="user.level_rol === '8'"> 
    <li class="nav-item" routerLinkActive="active">
      <a [routerLink]="['/', 'personas']" class="nav-link ">
        <i class="fa fa-users mr-3  fa-fw"></i>
        {{ "txtPersonas" | translate }}
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a [routerLink]="['/', 'historico']" class="nav-link ">
        <i class="fa fa-history mr-3  fa-fw"></i>
        {{ "txtConsultahistorica" | translate }}
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a href ="http://joraco.site:8081/b/ajax/exportar_registros_tareas_csv.php" class="nav-link ">
        <i class="fa fa-download mr-3  fa-fw"></i>
        {{ "txtDescargaInformacion" | translate }}
      </a>
    </li>
  </ng-container>
  </ul>

  <hr />


<ng-container *ngIf="user.level_rol === '8'"> 
  <p class="text-gray font-weight-bold text-uppercase px-3 small mt-2  pb-4 mb-0">
   {{ "txtRolAdministrador" | translate }}
  </p>
  <ul class="nav flex-column bg-white mb-0">

    <li class="nav-item" routerLinkActive="active">
      <a [routerLink]="['/', 'formlistados']" class="nav-link ">
        <i class="fa fa-cog mr-3  fa-fw"></i>
        Listado de componentes
      </a>
    </li>



    <li class="nav-item" routerLinkActive="active">
      <a [routerLink]="['/', 'configuracion']" class="nav-link ">
        <i class="fa fa-cog mr-3  fa-fw"></i>
        {{ "txtConfiguracion" | translate }}
      </a>
    </li>
  </ul>
</ng-container>


</div>
<!-- End vertical navbar -->
